In [7]:
a=[1,2,3]
a

[1, 2, 3]

In [4]:
a[:2]=['a']
a

['a']

In [8]:
a[:2]=['a','b','c','d']
a

['a', 'b', 'c', 'd', 3]

In [12]:
a=['n','i','t','1','n']

In [13]:
''.join(a)

'nit1n'

In [16]:
names={
    "data1":['ravi',23,34,45],
    "data2":["sj",45,45,56],
    "data3":["shyam",34,45,45]
}
names

{'data1': ['ravi', 23, 34, 45],
 'data2': ['sj', 45, 45, 56],
 'data3': ['shyam', 34, 45, 45]}

In [17]:
import json

In [19]:
with open("names.json",'w') as f:
    json.dump(names,f,indent=4)

In [23]:
with open('names.json','rt') as f:
    data=json.load(f )
data

{'data1': ['ravi', 23, 34, 45],
 'data2': ['sj', 45, 45, 56],
 'data3': ['shyam', 34, 45, 45]}